In [74]:
import pandas as pd

df = pd.read_csv(r'C:\Users\user\Downloads\0306.csv')

df.head()

,學年度,設立別,學士班(大學四年制)延修生-男,學士班(大學四年制)延修生-女,學士班(大學二年制)延修生-男,學士班(大學二年制)延修生-女,二專延修生-男,二專延修生-女,五專延修生-男,五專延修生-女,學士班(大學四年制)延修比率-男,學士班(大學四年制)延修比率-女,學士班(大學二年制)延修比率-男,學士班(大學二年制)延修比率-女,二專延修比率-男,二專延修比率-女,五專延修比率-男,五專延修比率-女
0,92學年度,公立,3282,1672,761,226,1289,338,727,231,16.58,9.06,8.01,3.91,22.05,7.86,27.39,10.99
1,92學年度,私立,8251,3421,1869,1080,5326,2542,4853,1713,21.54,8.77,5.71,3.27,15.26,6.12,27.14,9.52
2,93學年度,公立,3740,1740,844,270,970,421,596,218,16.65,8.40,8.85,4.18,21.64,10.84,23.46,10.45
3,93學年度,私立,10526,4564,1953,1049,4854,2310,4094,1580,22.70,9.32,6.33,3.26,16.82,7.36,25.54,9.41
4,94學年度,公立,4623,2009,742,279,620,251,440,141,18.22,8.90,9.10,4.83,24.14,9.81,22.48,6.99

In [71]:
temp = df[['學年度', '設立別','學士班(大學四年制)延修生-男','學士班(大學四年制)延修生-女']]
temp["學士班(大學四年制)延修生-男"] = pd.to_numeric(temp["學士班(大學四年制)延修生-男"])
temp["學士班(大學四年制)延修生-女"] = pd.to_numeric(temp["學士班(大學四年制)延修生-女"])

<ipython-input-71-3089e9ef4323>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["學士班(大學四年制)延修生-男"] = pd.to_numeric(temp["學士班(大學四年制)延修生-男"])
<ipython-input-71-3089e9ef4323>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["學士班(大學四年制)延修生-女"] = pd.to_numeric(temp["學士班(大學四年制)延修生-女"])

In [72]:
temp['總和']=temp[["學士班(大學四年制)延修生-男","學士班(大學四年制)延修生-女"]].sum(axis=1)
temp['總和']

<ipython-input-72-ab230e08398a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['總和']=temp[["學士班(大學四年制)延修生-男","學士班(大學四年制)延修生-女"]].sum(axis=1)

0      4954
1     11672
2      5480
3     15090
4      6632
5     18909
6      7773
7     20715
8      7601
9     23253
10     8663
11    25051
12     9900
13    26499
14    10576
15    27966
16    10598
17    29744
18    10778
19    31067
20    11157
21    30759
22    10951
23    31164
24    11722
25    32621
26    12136
27    32214
28    12746
29    33097
30    12853
31    31899
32    13076
33    31739
34    13497
35    31918
36    13283
37    30908
Name: 總和, dtype: int64

In [73]:
Type = temp.groupby(['學年度'])['總和'].sum().reset_index()

In [68]:
Type

       學年度     總和
0   100學年度  40342
1   101學年度  41845
2   102學年度  41916
3   103學年度  42115
4   104學年度  44343
5   105學年度  44350
6   106學年度  45843
7   107學年度  44752
8   108學年度  44815
9   109學年度  45415
10  110學年度  44191
11   92學年度  16626
12   93學年度  20570
13   94學年度  25541
14   95學年度  28488
15   96學年度  30854
16   97學年度  33714
17   98學年度  36399
18   99學年度  38542